body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin: 0 auto;
}

label {
    margin-top: 10px;    
    margin-bottom: 8px;
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#table-asamblea {
    height: 100%;
    width: 100%;
    margin-right: 100px;
    margin-left: 100px;
}   

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group textarea {
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: calc(100% - 25px);
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

#btn-reg-us{
    margin-top: 50px;    
} 

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.container ul {
    list-style-type: none;
    padding: 0;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 0px;
}

.container ul li {
    display: inline-block;
    margin-right: 10px;
}

.container ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    background-color: #f2f2f2;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.container ul li a:hover {
    background-color: #ccc;
}     

.encabezado {

    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    border-radius: 50%;
    background-color: #f2f2f2;
    font-weight: bold;
    font-style: italic;
}

.encabezado span {
    color: #007bff; 
    font-weight: bold; 
    font-style: italic;
}   

.container {
    margin-right: 100px;
    margin-left: 100px;    
    border: ridge;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin-bottom: 30px;
}


#sesion {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;  
}

.form-container {
    width: 1000px;    
    margin-right: 100px;
    margin-left: 100px;    
    display: flex;
    margin-top: 30px;
}

.form-container form {
    margin-bottom: 30px;    
    margin-right: 50px;
    width: 100%; 
}   

.form-vert {
    height: 1000px;    
    width: 1000px;    
    display: flex;
    flex-direction: column;
}               